button {
  margin: 1rem 0;
  padding: .5rem 1.5rem;
  background-color: transparent;
  border: none;
  border: 2px solid rgb(0, 109, 160);
  border-radius: 1px;
  color: #fff;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;

  &:hover {
    background-color: rgba(0, 109, 160, 0.445);
  }
}
